<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="mainMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Supplier</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar animated="true"
    class="ion-margin-bottom"
    [formControl]="searchField"
    (keyup.enter)="search()"
    inputmode="text" placeholder="Search Supplier data..."></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <cdk-virtual-scroll-viewport itemSize="56" minBufferPx="900" maxBufferPx="1350">
    <ion-list>
      <ion-item-sliding *cdkVirtualFor="let item of suppliers">
        <ion-item-options side="start" (click)="openEditModal(item)">
          <ion-item-option color="tertiary" expandable>
            <ion-icon size="large" name="create-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
        <ion-item-options side="end" (click)="deleteSupplier(item.id, item.name)">
          <ion-item-option color="danger" expandable>
            <ion-icon name="trash-outline" size="large"></ion-icon>
          </ion-item-option>
        </ion-item-options>
        <ion-item>
          <ion-label>
            <p>{{ item.name }}</p>
            <p class="description-text">Address: {{ item.address }}</p>
            <p class="description-text">Phone Number : {{ item.phone_number }}</p>
          </ion-label>
        </ion-item>
      </ion-item-sliding>
    </ion-list>
  </cdk-virtual-scroll-viewport>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button id="create-supplier">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-modal trigger="create-supplier" #modalCreate>
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title slot="start">
            Create Supplier
          </ion-title>
          <ion-buttons slot="end">
            <ion-button [strong]="true" (click)="modalCreate.dismiss()">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <form [formGroup]="createForm">
          <ion-item class="ion-margin-bottom" fill="outline">
            <ion-icon slot="start" name="bookmark-outline" size="small"></ion-icon>
            <ion-label position="floating">Name</ion-label>
            <ion-input type="text" placeholder="Supplier Name"
            formControlName="name"></ion-input>
            <span slot="error" *ngIf="!createForm.controls.name.valid && createForm.controls.name.dirty">*Name field is required</span>
          </ion-item>
          <ion-item class="ion-margin-bottom" fill="outline">
            <ion-icon slot="start" name="business-outline" size="small"></ion-icon>
            <ion-label position="floating">Address</ion-label>
            <ion-input type="text" placeholder="Address"
            formControlName="address"></ion-input>
            <span slot="error" *ngIf="!createForm.controls.address.valid &&
            createForm.controls.address.dirty">*Address field is required</span>
          </ion-item>
          <ion-item class="ion-margin-bottom" fill="outline">
            <ion-icon slot="start" name="bookmark-outline" size="small"></ion-icon>
            <ion-label position="floating">Phone Number</ion-label>
            <ion-input type="text" placeholder="Phone Number"
            formControlName="phone_number"></ion-input>
            <span slot="error" *ngIf="!createForm.controls.phone_number.valid &&
            createForm.controls.phone_number.dirty">*Phone Number field is required</span>
          </ion-item>
          <ion-button expand="full" (click)="submitCreateForm(modalCreate.dismiss())"
          [disabled]="!createForm.valid">
            Submit
          </ion-button>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-modal [isOpen]="isModalEditOpened" (didDismiss)="dismissEditModal()" #modalEdit>
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title slot="start">
            Edit Supplier
          </ion-title>
          <ion-buttons slot="end">
            <ion-button [strong]="true" (click)="modalEdit.dismiss()">
              <ion-icon name="close-outline" size="small"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <form [formGroup]="editForm">
          <ion-item class="ion-margin-bottom" fill="outline">
            <ion-icon slot="start" name="bookmark-outline" size="small"></ion-icon>
            <ion-label position="floating">Name</ion-label>
            <ion-input type="text" placeholder="Supplier Name"
            formControlName="name"></ion-input>
            <span slot="error" *ngIf="!editForm.controls.name.valid && editForm.controls.name.dirty">*Name field is required</span>
          </ion-item>
          <ion-item class="ion-margin-bottom" fill="outline">
            <ion-icon slot="start" name="business-outline" size="small"></ion-icon>
            <ion-label position="floating">Address</ion-label>
            <ion-input type="text" placeholder="Address"
            formControlName="address"></ion-input>
            <span slot="error" *ngIf="!editForm.controls.address.valid &&
            editForm.controls.address.dirty">*Address field is required</span>
          </ion-item>
          <ion-item class="ion-margin-bottom" fill="outline">
            <ion-icon slot="start" name="bookmark-outline" size="small"></ion-icon>
            <ion-label position="floating">Phone Number</ion-label>
            <ion-input type="text" placeholder="Phone Number"
            formControlName="phone_number"></ion-input>
            <span slot="error" *ngIf="!editForm.controls.phone_number.valid &&
            editForm.controls.phone_number.dirty">*Phone Number field is required</span>
          </ion-item>
          <ion-button expand="full" (click)="submitEditForm(modalEdit.dismiss())"
          [disabled]="!editForm.valid">
            Submit
          </ion-button>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
