/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// Animate
@import '~animate.css/animate.min';

// Leaflet
// @import "~leaflet/dist/leaflet.css";

.custom-success-toast {
  --background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1000' height='300' preserveAspectRatio='none' viewBox='0 0 1000 300'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1015%26quot%3b)' fill='none'%3e%3crect width='1000' height='300' x='0' y='0' fill='rgba(34%2c 166%2c 179%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c268.67C49.457%2c271.391%2c94.633%2c235.454%2c127.505%2c198.402C156.42%2c165.81%2c152.545%2c117.548%2c169.63%2c77.467C186.109%2c38.807%2c219.713%2c9.082%2c225.923%2c-32.483C233.411%2c-82.601%2c240.483%2c-141.345%2c208.15%2c-180.363C175.818%2c-219.38%2c114.974%2c-211.73%2c66.15%2c-225.288C18.19%2c-238.606%2c-28.992%2c-275.265%2c-76.14%2c-259.309C-123.25%2c-243.366%2c-139.926%2c-186.696%2c-168.394%2c-145.914C-193.694%2c-109.67%2c-230.056%2c-77.651%2c-233.696%2c-33.6C-237.279%2c9.756%2c-207.78%2c47.139%2c-187.529%2c85.642C-168.414%2c121.985%2c-148.184%2c156.172%2c-118.798%2c184.853C-83.399%2c219.403%2c-49.39%2c265.953%2c0%2c268.67' fill='%231b858f'%3e%3c/path%3e%3cpath d='M1000 501.93600000000004C1044.365 506.01 1090.956 523.399 1130.936 503.74 1171.97 483.563 1196.002 439.72 1212.921 397.238 1229.304 356.103 1233.35 311.13 1224.961 267.655 1216.824 225.487 1191.366 190.76600000000002 1166.343 155.863 1138.898 117.58099999999999 1114.265 75.44200000000001 1072.103 54.44 1025.953 31.451000000000022 970.438 16.642999999999972 921.928 34.110000000000014 873.955 51.38300000000001 849.403 102.54400000000001 820.966 144.866 795.658 182.531 774.2280000000001 221.735 765.889 266.34000000000003 757.28 312.39 750.012 362.802 772.543 403.876 794.677 444.228 841.392 462.815 883.656 481.03499999999997 920.587 496.957 959.951 498.259 1000 501.93600000000004' fill='%2329c7d6'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1015'%3e%3crect width='1000' height='300' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.custom-primary-toast {
  --background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1000' height='300' preserveAspectRatio='none' viewBox='0 0 1000 300'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1041%26quot%3b)' fill='none'%3e%3crect width='1000' height='300' x='0' y='0' fill='rgba(46%2c 134%2c 222%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c208.125C50.48%2c217.078%2c102.339%2c253.183%2c148.847%2c231.61C195.083%2c210.163%2c217.526%2c153.495%2c226.091%2c103.252C233.816%2c57.938%2c206.081%2c16.327%2c193.06%2c-27.758C182.121%2c-64.792%2c172.42%2c-100.12%2c155.736%2c-134.946C133.235%2c-181.916%2c126.226%2c-246.405%2c78.418%2c-267.066C31.367%2c-287.4%2c-22.488%2c-255.191%2c-68.017%2c-231.645C-107.673%2c-211.137%2c-135.472%2c-176.435%2c-163.705%2c-141.851C-191.124%2c-108.264%2c-226.422%2c-76.285%2c-230.113%2c-33.085C-233.757%2c9.564%2c-202.536%2c45.49%2c-182.964%2c83.557C-164.359%2c119.742%2c-152.021%2c161.318%2c-118.388%2c184.216C-84.421%2c207.342%2c-40.461%2c200.949%2c0%2c208.125' fill='%231d6bb9'%3e%3c/path%3e%3cpath d='M1000 578.095C1054.968 575.585 1111.629 575.4390000000001 1158.703 546.947 1206.408 518.073 1233.796 467.772 1261.874 419.594 1292.805 366.521 1325.674 313.764 1330.3029999999999 252.51 1335.627 182.05599999999998 1340.901 97.697 1289.892 48.80699999999999 1238.538-0.41399999999998727 1154.4180000000001 20.312000000000012 1083.423 15.887 1027.648 12.411000000000001 972.801 9.043999999999983 919.4639999999999 25.718000000000018 866.808 42.178999999999974 817.279 68.673 781.165 110.37899999999999 745.058 152.077 730.9490000000001 205.925 717.172 259.335 701.837 318.784 674.765 381.185 696.5 438.60400000000004 718.538 496.821 775.138 535.886 831.6990000000001 561.8820000000001 883.968 585.905 942.535 580.72 1000 578.095' fill='%235ca1e5'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1041'%3e%3crect width='1000' height='300' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.custom-error-toast {
  --background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='600' height='300' preserveAspectRatio='none' viewBox='0 0 600 300'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1125%26quot%3b)' fill='none'%3e%3crect width='600' height='300' x='0' y='0' fill='rgba(237%2c 76%2c 103%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c216.834C49.25%2c227.162%2c104.761%2c256.082%2c147.378%2c229.324C189.932%2c202.606%2c183.018%2c138.619%2c199.929%2c91.304C215.139%2c48.749%2c242.24%2c10.428%2c241.766%2c-34.761C241.255%2c-83.483%2c231.644%2c-136.414%2c197.179%2c-170.857C163.225%2c-204.79%2c110.307%2c-207.218%2c62.74%2c-213.674C21.129%2c-219.321%2c-19.412%2c-214.791%2c-60.434%2c-205.819C-104.354%2c-196.213%2c-152.872%2c-191.851%2c-184.25%2c-159.654C-216.161%2c-126.911%2c-218.206%2c-77.359%2c-228.943%2c-32.917C-240.836%2c16.312%2c-275.234%2c70.21%2c-250.453%2c114.378C-225.358%2c159.106%2c-159.839%2c155.433%2c-112.37%2c174.852C-74.596%2c190.305%2c-39.943%2c208.457%2c0%2c216.834' fill='%23e41739'%3e%3c/path%3e%3cpath d='M600 504.988C638.192 505.54200000000003 651.832 451.28700000000003 683.53 429.975 714.233 409.332 759.244 412.423 781.563 382.91700000000003 805.06 351.854 811.869 308.817 804.037 270.664 796.3720000000001 233.328 765.787 206.737 739.693 178.95499999999998 714.597 152.236 690.997 119.84700000000001 655.157 112.15299999999999 619.931 104.59100000000001 586.97 127.781 552.669 138.806 519.37 149.509 477.831 147.968 456.794 175.912 435.799 203.8 452.56 243.536 447.79200000000003 278.116 443.062 312.421 414.18399999999997 346.791 428.90999999999997 378.134 443.653 409.512 490.166 406.923 518.015 427.572 548.832 450.421 561.64 504.43100000000004 600 504.988' fill='%23f38597'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1125'%3e%3crect width='600' height='300' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.alert-title.sc-ion-alert-md {
  font-size: 16px;
  font-weight: 500;
}

.alert-sub-title.sc-ion-alert-md {
  font-size: 14px;
  font-weight: 400;
}

ion-toolbar {
  --background: #0A3D62;
  --color: white;
}

.searchbar-input.sc-ion-searchbar-md {
  font-size: 14px;
}

ion-title {
  font-size: 16px;
}

ion-label {
  font-size: 14px !important;
  // transform: translate(10px, 18px) !important;
}

.label-floating.sc-ion-label-md-h {
  margin-left: 5px;
  margin-top: 3px;
}

.native-input.sc-ion-input-md {
  padding-top: 12px;
  padding-left: 5px;
  font-size: 14px;
  font-weight: 400;
}

ion-select {
  font-size: 14px;
  transform: translate(5px, -12px);
  font-weight: 400;
}
